In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("HOF_data.csv")

In [2]:
data.head()

  name  C  H  N  O  Experiment  Calculation  Use_to_train
0  H2O  0  2  0  1     -241.83  -242.273345           1.0
1  NH3  0  3  1  0      -45.90   -98.279030           1.0
2  HN3  0  1  3  0      264.00   185.442217           1.0
3  CO2  1  0  0  2     -393.52 -1137.389589           1.0
4  CH4  1  4  0  0      -74.87  -881.301620           1.0

In [3]:
train = data[data.Use_to_train.notnull()]

In [4]:
Amatrix = train[['C','H','N','O']].values
bmatrix = train['Experiment'].values - train['Calculation'].values

In [5]:
print ((Amatrix.shape))

(8, 4)

In [6]:
correction_energies = np.linalg.lstsq(Amatrix, bmatrix,rcond=None)[0]
correction_energies = correction_energies.reshape((4,1))
print (correction_energies)

[[770.21326833]
 [  9.57924606]
 [ 26.80010143]
 [  4.51282846]]

In [7]:
Amatrix = data[['C','H','N','O']].values
corrections = np.matmul(Amatrix, correction_energies)
calculation = data['Calculation'].values

ndata = corrections.shape[0]
calculation = calculation.reshape((ndata,1))

corrected_energies = calculation + corrections
data['corrected_calculation'] = corrected_energies

In [8]:
print_cols = ['name','Experiment','corrected_calculation']

train = data[data.Use_to_train.notnull()]
pred = data[data.Use_to_train.isnull()]

In [9]:
print (train[print_cols])

      name  Experiment  corrected_calculation
0      H2O     -241.83            -218.602025
1      NH3      -45.90             -42.741190
2      HN3      264.00             275.421767
3      CO2     -393.52            -358.150664
4      CH4      -74.87             -72.771367
5    CH3OH     -205.00            -186.694315
8   CH3NO3     -122.00            -141.074568
9  C2H5NO3     -155.00            -173.349543

In [10]:
print (pred[print_cols])

             name  Experiment  corrected_calculation
6          C2H5OH      -234.0            -220.065348
7         GLYCINE      -390.5            -363.074065
10          TMETN         NaN            -380.480533
11  Nitroglycerin      -279.1            -335.037731